{
  "applinks": {
    "apps": [],
    "details": [
      {
        "appID": "ABCDE12345.com.example.app",
        "paths": [
          "/product/*",
          "/profile/*"
        ]
      }
    ]
  }
}